.biographie-background {
    background: $biographie-bg;
    background-size: cover;
    border-bottom: 1px solid white;
    padding-top: 0.7rem;

    .pictures {
        text-align: left;
    }
    .pictures .thumbnail {
        -webkit-box-shadow: 18px 18px 28px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 18px 18px 28px -12px rgba(0,0,0,0.75);
        box-shadow: 18px 18px 28px -12px rgba(0,0,0,0.75);
    }
    .pictures img {
        width: 220px;
        height: 220px;
    }
    .pictures div:nth-child(1) .thumbnail {
        transform: translate(10px, 0px) rotate(-3deg);
    }

    .pictures div:nth-child(2) .thumbnail {
        transform: translate(20px, 0px) rotate(2deg);
    }

    .pictures div:nth-child(3) .thumbnail {
        transform: translate(10px, 0px) rotate(-3deg);
        
    }
    
}

