$hero-full-screen-text-color: $white;

.hero-full-screen {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $hero-bg;
  background-size: cover;
  border-bottom: 1px solid white;

  .middle-content-section {
      color: $hero-full-screen-text-color;
      h1 {
          text-align: center;
          font-size: 3rem;
          margin-bottom: 1rem;

      }
      ul li{
          margin-top: 0.2rem;
          text-align: left;
          font-size: 2rem;
          list-style-type: circle;
          padding-left: 0.5rem;
          margin-left: 0.5rem;
      }
  }

  .middle-content-section-2 {
      padding: 3rem;
      color: $hero-full-screen-text-color;      
      text-align: center;
      font-weight: bold;
  }
  .middle-content-section-2 .lead {
      padding: 1em 5em;
  }
  
  .bottom-content-section {
    padding: 1rem;
    svg {
      height: rem-calc(60);
      width: rem-calc(60);
      fill: $hero-full-screen-text-color;
    }
  }
}
