$travel-bg-1: url(../images/howToAccess/bus.jpg);
$travel-bg-2: url(../images/howToAccess/tram.jpg);
$travel-bg-3: url(../images/howToAccess/car.jpg);
$travel-bg-4: url(../images/howToAccess/car2.jpg);


.travel-container {
    width: 100%;
    padding:0;
    justify-content: space-around;
    & .travel-block {
        border: 1px solid white;
    }
    .travel-text{
        text-shadow:
            0.07em 0 black,
            0 0.07em black,
            -0.07em 0 black,
            0 -0.07em black;
        color: white;
        position: relative;
        z-index: 1;
        height: 50vh;
        margin: 0;
        padding: 1em;
        width: 100%
    }

    .travel-text:before {
        margin: 0;
        padding: 0;
        width: 100%;
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
    }

    .grid-1:before {
        background-image:$travel-bg-1;
    }

    .grid-2:before {
        background-image:$travel-bg-2;
    }

    .grid-3:before {
        background-image:$travel-bg-3;
    }

    .grid-4:before  {
        background-image:$travel-bg-4;
    }


}
