$menu-underline-from-center-bg: #2C3840;
$menu-underline-from-center-border-thickness: 0.125rem;

.my-nav {
    background-color: $menu-underline-from-center-bg;
    padding: 0;
    font-size: 0.9em;
    color: $white;
    min-height: 50px;
    .hover-underline-menu {
        .menu {
            background-color: $menu-underline-from-center-bg;
            
            a {
                color: darken($white, 10%);
                padding: 1.2rem 1.5rem;
                cursor: pointer;
            }
            .active a {
                color: $white;
                background: darken($menu-underline-from-center-bg, 5%);
                border-bottom: $menu-underline-from-center-border-thickness solid $white;
            }
            .underline-from-center {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: calc(100% - #{$menu-underline-from-center-border-thickness});
                    border-bottom: $menu-underline-from-center-border-thickness solid $white;
                    left: 50%;
                    right: 50%;
                    transition: all 0.5s ease;
                }

                &:hover::after {
                    left: 0;
                    right: 0;
                    transition: all 0.5s ease;
                }
            }
        }
    }
    .my-person {
        text-align: left;
        align-self: center;
        font-size: 1.1em;
        font-weight: bold;
        a {
            color: $white
        }
    }
    .my-phone {
        text-align: right;
        align-self: center;
        font-size: 0.9em;
        font-weight: bold;
    }
}
