// $hero-bg: url(../images/background/024.jpg) center center no-repeat;
// $practise-bg: url(../images/background/016.jpg) center center no-repeat;
// $yeartraining-bg: url(../images/background/023.jpg) center center no-repeat;
// $biographie-bg: url(../images/background/013.jpg) center center no-repeat;
// $contact-bg: url(../images/background/014.jpg) center center no-repeat;
// $test-bg: url(../images/background/005.jpg) center center no-repeat;
// $workshops-bg: url(../images/background/007.jpg) center center no-repeat;


$hero-bg: url(../images/background/foto.JPG) center center no-repeat;
$practise-bg: url(../images/background/foto2.JPG) center center no-repeat;
$yeartraining-bg: url(../images/background/foto3.JPG) center center no-repeat;
$biographie-bg: url(../images/background/foto4.JPG) center center no-repeat;
$contact-bg: url(../images/background/foto5.JPG) center center no-repeat;
$test-bg: url(../images/background/foto6.JPG) center center no-repeat;
$workshops-bg: url(../images/background/foto7.JPG) center center no-repeat;
