<div class="biographie-background">
  <div class="grid-container">
    <div class="cell">
      <h2 class="subheader">Biografie</h2>
    </div>
    <div class="grid-x">
      <div class="cell large-6">
        <div class="grid-y pictures">
          {{#each data.biographie.images.leen }}
            <div class="cell large-12">
              <div class="thumbnail">
                <img src="{{ this }}"/>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="cell large-6">
        <div class="grid-y">
          {{#each data.biographie.description }}
            {{#if this.basic}}
              <div class="cell callout" >
                {{{this.text}}}
              </div>
            {{/if}}
            {{#if this.quote}}
              <div class="cell">
                <div class="blockquote-container">
                  <div class="callout">
                    <blockquote>
                      <div class="blockquote-content">
                        {{this.text}}
                      </div>
                    </blockquote>
                  </div>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    <hr/>
    <div class="cell">
      <h2 class="subheader">Literatuur</h2>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell large-6">
        <div class="callout">
          <ul>
            {{#each data.biographie.books }}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="cell large-6">
        <div class="callout">
          <div class="thumbnail full-image">
            <img src="{{data.biographie.images.books.[0]}}" alt="book">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
