<div class="info-background">
  <div class="grid-container">
    <div class="grid">
      <h2 class="contact-us-header subheader">Get In Touch</h2>

      <section class="grid-x grid-margin-x contact-us-section">

        <div class="cell large-6">
          <ul class="contact-us-list">
            <li>
              <i class="fi-map"></i>
              <span>{{data.contact.adressPractise}} </span>
            </li>
            <li >
              <i class="fi-telephone"></i>
              <span>{{data.contact.phone}} </span>
            </li>
            <li>
              <i class="fi-telephone"></i>
              <span>(2) - {{data.contact.phone2}} </span>
            </li>
            <li style="margin-top: 1em;">
              <i class="fi-mail"></i>
              <a href="mailto:">{{data.contact.mail}}</a>
            </li>
          </ul>
        </div>
        <div class="cell large-6">
          <div class="responsive-embed">
            <div class="mapouter"><div class="gmap_canvas"><iframe  id="gmap_canvas" src="https://maps.google.com/maps?q=Lostraat%20136%20-%209920%20Lovendegem&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Werbung: <a href="https://www.pureblack.de">pureblack.de</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
          </div>          
        </div>

        <!-- <div class="cell large-6 contact-us-section-right">
             <h2 class="contact-us-header subheader">Mail Us</h2>
             <form class="contact-us-form ">
             <input type="text" placeholder="Full name">
             <input type="email" placeholder="Email">
             <textarea name="message" id="" rows="12" placeholder="Type your message here"></textarea>
             <div class="contact-us-form-actions">
             <input type="submit" class="button" value="bestelen" />
             <div>
             <input type="file" id="FileUpload" class="show-for-sr">
             </div>
             </div>
             </form>
             </div> -->
      </section>
    </div>
    <hr/>
    {{> howToAccess }}
  </div>
</div>

