<div class="hero-full-screen">
  <div class="middle-content-section">
    <h1>Leen Verspeeten - <strong>Psychotherapie</strong></h1>
    <ul class="square">
      {{#each data.hero.professions }}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  
  <div class="middle-content-section-2">
    <p class="lead">{{data.hero.content}} </p>
    <p class="lead">{{data.hero.content2}} </p>
  </div>

  <div class="bottom-content-section" data-magellan data-threshold="0">
    <a href="#practise"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a>
  </div>

</div>
