<div class="grid">
  <section class="grid-x travel-container">
    <div class="cell">
      <h2 class="contact-us-header subheader">How to access</h2>
    </div>
    <div class="cell large-6 travel-block">
      <div class="travel-text grid-1">
        <h3 class="h3">{{data.contact.travel.bus.title}}</h3>
        <p class="lead">{{data.contact.travel.bus.content }}</p>
      </div>
          
    </div>
    <div class="cell large-6 travel-block ">
      <div class="travel-text grid-2">
        <h3 class="h3">{{data.contact.travel.train.title}}</h3>
        <p class="lead">{{data.contact.travel.train.content }}</p>
      </div>

    </div>
    <div class="cell large-6 travel-block ">
      <div class="travel-text grid-3">
        <h3 class="h3">{{data.contact.travel.car.title}}</h3>
        <p class="lead">{{data.contact.travel.car.content }}</p>
      </div>
    </div>
    <div class="cell large-6 travel-block">
      <div class="travel-text grid-4">
        <h3 class="h3">{{data.contact.travel.car2.title}}</h3>
        <p class="lead">{{data.contact.travel.car2.content }}</p>
      </div>        
    </div>
  </section>
</div>
