<!doctype html>
<html class="no-js" lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="U kan bij Leen een afspraak maken voor een individuele, &eacute;&eacute;n op &eacute;&eacute;n sessie." />
    <meta name="keywords" >
    
    <title>{{ data.title }} </title>
  </head>
  <body>
    <div id="main">
      {{> navbar }}
      <div class="page-section" id="hero">{{> hero }}</div>
      <div class="page-section" id="practise">{{> practise }}</div>
      <div class="page-section" id="yeartraining">{{> yeartraining }}</div>
      <div class="page-section" id="workshops">{{> workshops }}</div>
      <div class="page-section" id="biographie">{{> biographie }}</div>
      <div class="page-section" id="contact"> {{> contact }} </div>
    </div>
  </body>
</html>
