<div data-sticky-container>
  <div class="top-bar my-nav" data-sticky data-options="marginTop:0;">
    <div class="grid-container" style="width: 100%">
      <div class="grid-x grid-margin-x">
        <div class="cell small-3 my-person">
          <i class="fi-people"></i>
          <span> <a href="#hero">{{data.fullname}} - {{data.profession}}</a></span>
        </div>
        <div class="cell small-7">
          <nav class="hover-underline-menu" data-menu-underline-from-center>
            <ul id="my-menu" class="menu align-center navigation" data-menu-underline-from-center>
              <li><a href="#practise">Praktijk</a></li>
              <li><a href="#yeartraining">Jaartraining</a></li>
              <li><a href="#workshops">Workshops</a></li>
              <li><a href="#biographie">Biografie</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="cell small-2 my-phone">
          <i class="fi-telephone"></i>
          <span>{{data.contact.phone}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
