<div class="practise-background">
  <div class="grid-container">
    <div class="cell">
      <h2 style="margin-top: 0" class="subheader"> Prive Praktijk </h2>
    </div>
    <div class="cell">
      <div class="grid-x grid-margin-x">
        <div class="cell large-6">
          <div class="grid-y">
            <div class="callout">
              {{{ data.practise.description.[0].text }}}
            </div>
            
            <div class="cell large-6">
              <div class="thumbnail full-image">
                <img src="{{{ data.practise.images.[0] }}}" alt="room1">
              </div>
            </div>
            <div class="callout">           
              {{{ data.practise.description.[3].text }}}
            </div>
          </div>
        </div>
        <div class="cell large-6">
          <div class="grid-y">
            <div class="cell large-6">
              <div class="callout">           
                {{{ data.practise.description.[1].text }}}
              </div>
              <div class="thumbnail full-image">
                <img src="{{{ data.practise.images.[1] }}}" alt="room1">
              </div>
            </div>
            <div class="callout">           
              {{{ data.practise.description.[2].text }}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
