<div class="workshops-background">
  <div class="grid-container">
    <div  class="grid">
      <div class="cell">
        <h2 style="margin-top: 0" class="subheader"> Opstellingen en workshops </h2>
      </div>
      <div class="cell">
        <div class="grid-x grid-margin-x">
          <div class="cell large-6">
            <div class="grid-y">
              <div class="callout">
                {{{ data.workshops.description.[0].text }}}
              </div>
              <div class="thumbnail full-image">
                <img src="{{{ data.workshops.images.[0] }}}" alt="workshop1">
              </div>
              <div class="callout">
                {{{ data.workshops.description.[2].text }}}
              </div>
              <div class="thumbnail full-image">
                <img src="{{{ data.workshops.images.[2] }}}" alt="workshop1">
              </div>
              <div class="callout">
                {{{ data.workshops.description.[4].text }}}
              </div>
              <div class="thumbnail full-image">
                <img src="{{{ data.workshops.images.[3] }}}" alt="workshop1">
              </div>
              <div class="callout">
                {{{ data.workshops.price }}}
              </div>
            </div>
          </div>
          <div class="cell large-6">
            <div class="grid-y">
              <div class="callout">
                {{{ data.workshops.description.[1].text }}}
              </div>
              <div class="thumbnail full-image">
                <img src="{{{ data.workshops.images.[1] }}}" alt="workshop2">
              </div> 
              <div class="callout">
                {{{ data.workshops.description.[3].text }}}
              </div>
              <div class="callout">
                {{{ data.workshops.description.[5].text }}}
              </div>
              <div class="callout">
                {{{ data.workshops.description.[6].text }}}
              </div>
              <div class="callout">
                <h3>Locatie</h3>
                <div class="responsive-embed">
                  <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Centrum%20'De%20Blauwe%20Poort'%20-%20Collegebaan%2049%20-%209090%20Melle&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
