<div class="yeartraining-background">
  <div class="grid-container">   
    <div  class="grid">
      <div class="cell">
        <h2 style="margin-top: 0" class="subheader"> Jaartraining 'Vrijheid in Zijn' </h2>
      </div>
    </div>
    <div class="cell">
      <div class="grid-x grid-margin-x">
        <div class="cell large-6">
          <div class="grid-y">
            <div class="callout">
              {{{ data.yeartraining.description.[0].text }}}
            </div>
            <div class="cell large-6">
              <div class="thumbnail full-image">
                <img src="{{{ data.yeartraining.images.[0] }}}" alt="room1">
              </div>
            </div>
            <div class="callout">
              {{{ data.yeartraining.description.[2].text }}}
              <div class="responsive-embed">
                <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Centrum%20'De%20Blauwe%20Poort'%20-%20Collegebaan%2049%20-%209090%20Melle&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
              </div>
            </div>
          </div>
        </div>
        <div class="cell large-6">
          <div class="grid-y">
            <div class="cell large-6">
              <div class="thumbnail full-image">
                <img src="{{{ data.yeartraining.images.[1] }}}" alt="room1">
              </div>
              <div class="callout">           
                {{{ data.yeartraining.description.[1].text }}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="grid">
      <div class="cell">
        <h2 class="subheader"> Feedback studenten jaartraining </h2>
        <div class="cell">
          <div class="blockquote-container">
            {{#each data.yeartraining.testimonials }}
              <div class="callout">
                <h3 class="blockquote-title">{{this.title}}</h3>
                <blockquote>
                  <div class="blockquote-content">
                    {{{this.text}}}
                  </div>
                </blockquote>
              </div>
            {{/each}}
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
